@model ProductListViewModel
@{
}


<section id="team" class="section-bg">
    <div class="container">
        <div class="section-header">
            <h3>@Model.CurrentCategory.Name</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

            @foreach (Product product in Model.Products)
            {
                var ImagePath = $"~/ProductImages/{product.PhotoPath}";
            <div class="col-lg-3 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="/Detail/ProductDetail?produtname=@product.SupTitle.Replace(" ","-")&product=@product.id">
                    <div class="member">
                        <img src="@ImagePath" asp-append-version="true" class="img-fluid" alt="@product.SupTitle">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>@product.SupTitle</h4>
                                <span>   @product.SubTitle</span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>

    </div>
</section>

