@model ProductListViewModel
@{
    ViewData["Title"] = Model.CurrentCategory.Name;
    ViewData["Description"] = Model.CurrentCategory.Name + " ürünleri ve özellikleri | Petroteks ";
    ViewData["MetaTags"] = $"<meta name='twitter:card' content='summary' /> <meta name='twitter:site' content='{WebsiteContext.CurrentWebsite.Name}/" + Model.CurrentCategory.Name.Replace(" ", "-") + "-" + Model.CurrentPage + "-" + Model.CurrentCategory.id + "'/> <meta name='twitter:creator' content='@Petroteks' /> <meta property='og:title' content='" + Model.CurrentCategory.Name + "'> <meta property='og:type' content='website'> <meta property='og:description' content='" + Model.CurrentCategory.Name + " ürünleri ve özellikleri'> <meta property='og:image' content='" + @WebsiteContext.CurrentWebsite.Name + "/CategoryImages/" + Model.CurrentCategory.PhotoPath + "'> <meta property='og:url' content='{WebsiteContext.CurrentWebsite.Name}/" + Model.CurrentCategory.Name.Replace(" ", "-") + "-" + Model.CurrentPage + "-" + Model.CurrentCategory.id + "'/> <meta property='og:title' content='" + Model.CurrentCategory.Name + "' />";
    ViewData["Keywords"] = "Sondaj kategorileri, Sondaj ürünleri," + Model.CurrentCategory.Name;
}
<section class="clearfix" id="intro2">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-12 text-center intro-info order-md-first order-last">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <h2>@Model.CurrentCategory.Name</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="team" class="section-bg">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.SubCategories)
            {
                <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" href="@Url.Action(ActionsModel.CategoryDetail,ControllersModel.Detail, new { categoryName=GetFriendlyTitle(item.Name) , page=1 , category=item.id})">
                    <figure class="snip1401">
                        @if (item.PhotoPath == null)
                        {
                            <img src="~/images/Lifta.jpg" style="width:450px!important;height:250px!important;" />
                        }
                        else
                        {
                            <img src="../CategoryImages/@item.PhotoPath" style="width:450px!important;height:250px!important;" />
                        }
                        <figcaption>
                            <h3>@item.Name</h3>

                        </figcaption><i class="ion-ios-pricetags-outline"></i>

                    </figure>
                </a>

            }

            @foreach (var item in Model.Products)
            {
                <a href="@Url.Action(ActionsModel.ProductDetail,ControllersModel.Detail,new { produtname=GetFriendlyTitle(item.SupTitle) , id=item.id})">
                    <figure class="snip1401">
                        @if (item.PhotoPath == null)
                        {
                            <img src="~/images/Lifta.jpg" style="width:450px!important;height:250px!important;" />
                        }
                        else
                        {
                            <img src="../ProductImages/@item.PhotoPath" style="width:450px!important;height:250px!important;" />
                        }
                        <figcaption>
                            <h3>@item.SupTitle</h3>

                        </figcaption><i class="ion-ios-pricetags-outline"></i>

                    </figure>
                </a>
            }




        </div>


    </div>
</section>

