@model List<GcsEntity>
@{
    ViewData["Title"] = "Search Result";
}

<div class="container" style="margin-top:80px">
    @await Component.InvokeAsync("SearchInputForm",new {s=ViewBag.SearchKey})
    @ViewBag.Data




    

    <table>
        <thead>
            <th>Title</th>
            <th>Link</th>
            <th>Url</th>
            <th>Content</th>
            <th>Image</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.Raw(item.Title)</td>
                    <td>@item.Link</td>
                    <td>@Html.Raw(item.FormattedUrl)</td>
                    <td>@Html.Raw(item.Snippet)</td>
                    @if (item.Image!=null){
                      <td><img src="@item.Image.Src" style="width: @item.Image.Width;height: @item.Image.Height;" alt="@item.Title"></td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <th>Title</th>
            <th>Link</th>
            <th>Url</th>
            <th>Content</th>
            <th>Image</th>
        </tfoot>
    </table>
</div>
