@model CategoryListViewModel
@{
    object LoadSubMenu(Category category, ICollection<Category> categories)
    {
        foreach (Category subCategory in categories)
        {
            ICollection<Category> localcategories = Model.GetCategoryies(subCategory.id);
            ICollection<Product> products = Model.AllProduct.Where(x => x.Categoryid == subCategory.id).ToList();
            if (localcategories.Count > 0)
            {
                <li class="drop-down">
                    <a href="">@subCategory.Name</a>
                    @*/Detail/CategoryDetail?categoryName=@subCategory.Name.Replace(" ","-")&page=1&category=@subCategory.id*@
                    <ul>
                        @LoadSubMenu(subCategory, localcategories)
                        @if (products.Count > 0)
                        {
                            @LoadProduct(subCategory, products)
                        }
                    </ul>
                </li>
            }
            else if (products.Count > 0)
            {
                <li class="drop-down">
                    <a href="">@subCategory.Name</a>
                    @*/Detail/CategoryDetail?categoryName=@subCategory.Name.Replace(" ", "-")&page=1&category=@subCategory.id*@
                    <ul>
                        @LoadProduct(category, products)
                    </ul>
                </li>
            }
            else
            {
                <li>
                    @*/Detail/CategoryDetail?categoryName=@subCategory.Name.Replace(" ","-")&page=1&category=@subCategory.id*@
                    <a href="">@subCategory.Name </a>
                </li>
            }

        }
        return null;
    }

    object LoadProduct(Category category, ICollection<Product> products)
    {
        foreach (Product product in products)
        {
            <li>
                <a href="/Detail/ProductDetail?produtname=@product.SupTitle.Replace(" ","-")&product=@product.id">@product.SupTitle</a>
            </li>
        }
        return null;
    }

}
@{

    foreach (Category MainCategory in Model.MainCategories)
    {
        ICollection<Product> products = Model.AllProduct.Where(x => x.Categoryid == MainCategory.id).ToList();

        if (MainCategory.Name == "ROOT")
        {
            @LoadProduct(MainCategory, products)
        }
        else
        {
            ICollection<Category> categories = Model.GetCategoryies(MainCategory.id);
            if (categories.Count > 0)
            {
                <li class="drop-down">
                    @*asp-area="" asp-controller="Detail" asp-action="CategoryDetail" asp-route-page="1" asp-route-category="@MainCategory.id" asp-route-categoryName="@MainCategory.Name"*@
                    <a>@MainCategory.Name</a>
                    <ul>
                        @LoadSubMenu(MainCategory, categories)
                        @if (products.Count > 0)
                        {
                            @LoadProduct(MainCategory, products)
                        }
                    </ul>
                </li>
            }
            else if (products.Count > 0)
            {
                <li class="drop-down">
                    @*asp-area="" asp-controller="Detail" asp-action="CategoryDetail" asp-route-page="1" asp-route-category="@MainCategory.id" asp-route-categoryName="@MainCategory.Name"*@
                    <a>@MainCategory.Name</a>
                    <ul>
                        @LoadProduct(MainCategory, products)
                    </ul>
                </li>
            }
            else
            {
                <li>
                    @*asp-area="" asp-controller="Detail" asp-action="CategoryDetail" asp-route-page="1" asp-route-category="@MainCategory.id" asp-route-categoryName="@MainCategory.Name"*@
                    <a>@MainCategory.Name </a>
                </li>
            }

        }

    }

}
