@{
}
<!DOCTYPE html>
<html>

<head>
    <!-- Start of petroteks Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=519c2982-6e20-40c4-8f75-5a72d36e2727"></script>
    <!-- End of petroteks Zendesk Widget script -->
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta charset="utf-8">
    @Html.Raw(ViewData["MetaTags"])
    <meta name="author" content="Petroteks">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="~/images/cropped-favicon-32x32.png" rel="icon">
    <link href="~/NewLayout/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/NewLayout/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/NewLayout/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/NewLayout/css/style.css" rel="stylesheet" />

    <!-- Favicons -->
    <style>


        /*.trwpwhatsappballon {
            font-size: 14px;
            border-radius: 12px;
            border: 1px solid #fff;
            max-width: 250px;
        }

        .trwpwhatsapptitle {
            background-color: #22c15e;
            color: white;
            padding: 14px;
            border-radius: 12px 12px 0px 0px;
            text-align: center;
        }

        .trwpwhatsappmessage {
            padding: 16px 12px;
            background-color: white;
        }

        .trwpwhatsappinput {
            background-color: white;
            border-radius: 0px 0px 12px 12px;
        }

            .trwpwhatsappinput input {
                width: 206px;
                border-radius: 10px;
                margin: 1px 1px 0px 10px;
                padding: 10px;
                font-family: "Raleway", Arial, sans-serif;
                font-weight: 300;
                font-size: 13px;
                background-color: #efefef;
                border: 1px solid #d4d4d4;
            }

        .trwpwhatsappbutton {
            background-color: #22c15e;
            border-radius: 20px;
            padding: 8px 15px;
            cursor: pointer;
            color: #fff;
            max-width: 220px;
            margin-top: 10px;
            margin-bottom: 10px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .trwpwhatsappall {
            position: fixed;
            z-index: 9999999999999999999;
            bottom: 0;
            left: 10px;
            font-family: "Raleway", Arial, sans-serif;
            font-weight: 300;
            font-size: 15px;
        }

        .trwpwhatsappsendbutton {
            color: #22c15e;
            cursor: pointer;
        }

        button {
            border: none;
        }

            button i {
                float: right;
                position: absolute;
                z-index: 999999999999;
                right: 23px;
                top: 11;
                bottom: 81px;
                font-size: 18px !important;
            }

        .kapat {
            position: absolute;
            right: 8px;
            top: 6px;
            font-size: 13px;
            border: 1px solid #fff;
            border-radius: 99px;
            padding: 2px 5px 2px 5px;
            color: white;
            font-size: 10px;
            cursor: pointer;
        }*/

    </style>
</head>
<body itemscope="" itemtype="http://schema.org/WebPage">

    <header id="header">

        <div class="container">


            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="../Home/Index" class="scrollto"><img src="~/images/logopetroteks.png" /></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="drop-down">
                        <a href="">ÜRÜNLERİMİZ</a>
                        <ul>
                            @await Component.InvokeAsync("CategoryList", new { website = (Website)ViewBag.ThisWebsite })
                        </ul>
                    </li>

                    <li class="active"><a href="../Home/Index">ANASAYFA</a></li>
                    <li><a href="../Home/Hakkimizda">HAKKIMIZDA</a></li>
                    <li><a href="../Home/PetroBlog">PETROBLOG</a></li>



                    <li><a href="../Home/iletisim">İLETİŞİM</a></li>
                    <li class="drop-down">

                        <a href="#"><img src="~/images/tr.png"> TR </a>
                        <ul>

                            @*<li><a href="#"><img src="~/images/en.png"> ENG</a></li>*@


                        </ul>
                    </li>
                </ul>
            </nav>



            <!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    @RenderBody()

    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-4">

                        <div class="row">



                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>SİTE HARİTASI</h4>
                                    <ul>
                                        <li><a href="#">Anasayfa</a></li>
                                        <li><a href="#">HAKKIMIZDA</a></li>
                                        <li><a href="#">ÜRÜNLER</a></li>
                                        <li><a href="#">GİZLİLİK POLİTİKASI</a></li>
                                        <li><a href="#">İLETİŞİM</a></li>
                                    </ul>
                                </div>



                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4">

                        <div class="footer-links">
                            <h4>TOKAT FABRİKA :</h4>
                            <p>
                                Amasya – Erzincan Yolu Boğazbaşı Mahallesi
                                Bozkır Mevkii  No:177/1-1<br>
                                <strong>Niksar / TOKAT</strong>
                            </p>
                        </div>


                    </div>

                    <div class="col-lg-4">

                        <div class="footer-links">
                            <h4>ANKARA DEPO :</h4>
                            <p>
                                İvedik OSB 2268 Cadde No:9
                                Yenimahalle / ANKARA <br>
                                <strong>Cep:</strong> +90 542 678 09 59<br>
                                <strong>Telefon:</strong> +90 312 426 23 23<br>
                                <strong>Fax:</strong> +90 312 426 23 50<br>
                                <strong>Email:</strong> info@petroteks.com<br>
                            </p>
                        </div>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Petroteks</strong>. All Rights Reserved
            </div>

        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    @*<div class="trwpwhatsappall">
        <div class="trwpwhatsappballon">
            <span id="kapatac" class="kapat">X</span>
            <div class="trwpwhatsapptitle">
                WhatsApp destek ekibimiz sorularınızı cevaplıyor.
            </div>
            <div class="trwpwhatsappmessage">
                Merhaba, nasıl yardımcı olabilirim?
            </div>
            <div class="trwpwhatsappinput">
                <form action="https://web.whatsapp.com/send?" method="get" target="_blank">
                    <input type="text" name="phone" value="905426780959" hidden>
                    <input type="text" name="text" placeholder="Buradan cevap verebilirsiniz." autocomplete="off" style="box-sizing: content-box;">
                    <button class="trwpwhatsappsendbutton" type="submit">
                        <i class="fa fa-paper-plane-o"></i>
                    </button>
                </form>
            </div>
        </div>


        <div id="ackapa" class="trwpwhatsappbutton">
            <i class="fa fa-whatsapp"></i> <span>WhasApp Destek Hattı</span>
        </div>

        </div>*@

        <!-- Uncomment below i you want to use a preloader -->
        <!-- <div id="preloader"></div> -->
        <!-- JavaScript Libraries -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="~/NewLayout/lib/jquery/jquery.min.js"></script>
        <script src="~/NewLayout/lib/jquery/jquery-migrate.min.js"></script>
        <script src="~/NewLayout/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/NewLayout/lib/easing/easing.min.js"></script>
        <script src="~/NewLayout/lib/mobile-nav/mobile-nav.js"></script>
        <script src="~/NewLayout/lib/wow/wow.min.js"></script>
        <script src="~/NewLayout/lib/waypoints/waypoints.min.js"></script>
        <script src="~/NewLayout/lib/counterup/counterup.min.js"></script>
        <script src="~/NewLayout/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="~/NewLayout/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="~/NewLayout/lib/lightbox/js/lightbox.min.js"></script>
        <!-- Contact Form JavaScript File -->
        <script src="~/NewLayout/contactform/contactform.js"></script>

        <!-- Template Main Javascript File -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="~/NewLayout/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            //$(document).ready(function () {
            //    $("#ackapa").click(function () {
            //        $(".trwpwhatsappballon").toggle(1000);
            //    });
            //    $("#kapatac").click(function () {
            //        $(".trwpwhatsappballon").toggle(1000);
            //    });
            //});

        </script>
        <!--[if lt IE 10]><script type="text/javascript" src="../js/placeholder.js"></script><![endif]-->
        @RenderSection("Scripts", required: false)
</body>
</html>
