@{
}
<!DOCTYPE html>
<html>

<head>
    <!-- Start of petroteks Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=519c2982-6e20-40c4-8f75-5a72d36e2727"></script>
    <!-- End of petroteks Zendesk Widget script -->
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta charset="utf-8">
    @Html.Raw(ViewData["MetaTags"])
    <meta name="author" content="Petroteks">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="~/images/cropped-favicon-32x32.png" rel="icon">
    <link href="~/NewLayout/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/NewLayout/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/NewLayout/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/NewLayout/css/style.css" rel="stylesheet" />

    <!-- Favicons -->
    <style>

        /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @@keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .jssorl-009-spin {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: rgba(0,0,0,0.7);
        }

        #spin {
            margin-top: -19px;
            position: relative;
            top: 50%;
            width: 38px;
            height: 38px;
        }

        #jssor_1 {
            position: relative;
            margin: 0 auto;
            top: 70px;
            left: 0px;
            width: 1600px;
            height: 560px;
            overflow: hidden;
            visibility: hidden;
        }

        /*jssor slider bullet skin 031 css*/
        .jssorb031 {
            position: absolute;
        }

            .jssorb031 .i {
                position: absolute;
                cursor: pointer;
            }

                .jssorb031 .i .b {
                    fill: #000;
                    fill-opacity: 0.6;
                    stroke: #fff;
                    stroke-width: 1400;
                    stroke-miterlimit: 10;
                    stroke-opacity: 0.8;
                }

                .jssorb031 .i:hover .b {
                    fill: #fff;
                    fill-opacity: 1;
                    stroke: #000;
                    stroke-opacity: 1;
                }

            .jssorb031 .iav .b {
                fill: #fff;
                stroke: #000;
                stroke-width: 1600;
                fill-opacity: .6;
            }

            .jssorb031 .i.idn {
                opacity: .3;
            }

        .jssora051 {
            display: block;
            position: absolute;
            cursor: pointer;
        }

            .jssora051 .a {
                fill: none;
                stroke: #fff;
                stroke-width: 360;
                stroke-miterlimit: 10;
            }

            .jssora051:hover {
                opacity: .8;
            }

            .jssora051.jssora051dn {
                opacity: .5;
            }

            .jssora051.jssora051ds {
                opacity: .3;
                pointer-events: none;
            }

        #slider-svg {
            width: 600px;
            height: 400px;
            left: 255px;
            top: 0px;
            display: block;
            position: absolute;
            overflow: visible;
        }

        #slide-style {
            cursor: default;
            position: relative;
            top: 0px;
            left: 0px;
            width: 1600px;
            height: 560px;
            overflow: hidden;
        }

        #navigator {
            position: absolute;
            bottom: 24px;
            right: 16px;
        }
        .cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carda {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.carda .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.carda .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.carda .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.carda:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

 
    </style>
</head>
<body itemscope="" itemtype="http://schema.org/WebPage">

    <header id="header">

        <div class="container">


            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="../Home/Index" class="scrollto"><img src="~/images/logopetroteks.png" /></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="drop-down">
                        <a href="">ÜRÜNLERİMİZ</a>
                        <ul>
                            @await Component.InvokeAsync("CategoryList", new { website = (Website)ViewBag.ThisWebsite })
                        </ul>
                    </li>

                    <li class="active"><a href="../Home/Index">ANASAYFA</a></li>
                    <li><a href="../Home/Hakkimizda">HAKKIMIZDA</a></li>
                    <li><a href="../Home/PetroBlog">PETROBLOG</a></li>



                    <li><a href="../Home/iletisim">İLETİŞİM</a></li>
                    <li class="drop-down">

                        <a href="#"><img src="~/images/tr.png"> TR </a>
                        <ul>

                            @*<li><a href="#"><img src="~/images/en.png"> ENG</a></li>*@


                        </ul>
                    </li>
                </ul>
            </nav>



            <!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    @RenderBody()

    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-4">

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>SİTE HARİTASI</h4>
                                    <ul>
                                        <li><a href="#">Anasayfa</a></li>
                                        <li><a href="#">HAKKIMIZDA</a></li>
                                        <li><a href="#">ÜRÜNLER</a></li>
                                        <li><a href="#">GİZLİLİK POLİTİKASI</a></li>
                                        <li><a href="#">İLETİŞİM</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4">

                        <div class="footer-links">
                            <h4>ANKARA DEPO :</h4>
                            <p>
                                İvedik OSB 2268 Cadde No:9
                                Yenimahalle / ANKARA <br>
                                <strong>Cep:</strong> +90 542 678 09 59<br>
                                <strong>Telefon:</strong> +90 312 426 23 23<br>
                                <strong>Fax:</strong> +90 312 426 23 50<br>
                                <strong>Email:</strong> info@petroteks.com<br>
                            </p>

                        </div>


                    </div>

                    <div class="col-lg-4">

                        <div class="footer-links">
                            <h4>TOKAT FABRİKA :</h4>
                            <p>
                                Amasya – Erzincan Yolu Boğazbaşı Mahallesi
                                Bozkır Mevkii  No:177/1-1<br>
                                <strong>Niksar / TOKAT</strong>
                            </p>
                        </div>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Petroteks</strong>. All Rights Reserved
            </div>

        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    @*<div class="trwpwhatsappall">
        <div class="trwpwhatsappballon">
            <span id="kapatac" class="kapat">X</span>
            <div class="trwpwhatsapptitle">
                WhatsApp destek ekibimiz sorularınızı cevaplıyor.
            </div>
            <div class="trwpwhatsappmessage">
                Merhaba, nasıl yardımcı olabilirim?
            </div>
            <div class="trwpwhatsappinput">
                <form action="https://web.whatsapp.com/send?" method="get" target="_blank">
                    <input type="text" name="phone" value="905426780959" hidden>
                    <input type="text" name="text" placeholder="Buradan cevap verebilirsiniz." autocomplete="off" style="box-sizing: content-box;">
                    <button class="trwpwhatsappsendbutton" type="submit">
                        <i class="fa fa-paper-plane-o"></i>
                    </button>
                </form>
            </div>
        </div>


        <div id="ackapa" class="trwpwhatsappbutton">
            <i class="fa fa-whatsapp"></i> <span>WhasApp Destek Hattı</span>
        </div>

        </div>*@

    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="~/NewLayout/lib/jquery/jquery.min.js"></script>
    <script src="~/NewLayout/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/NewLayout/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/NewLayout/lib/easing/easing.min.js"></script>
    <script src="~/NewLayout/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/NewLayout/lib/wow/wow.min.js"></script>
    <script src="~/NewLayout/lib/waypoints/waypoints.min.js"></script>
    <script src="~/NewLayout/lib/counterup/counterup.min.js"></script>
    <script src="~/NewLayout/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/NewLayout/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/NewLayout/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/NewLayout/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/NewLayout/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/NewLayout/js/jssor.slider-28.0.0.min.js" type="text/javascript"></script>
    <script>

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        //$(document).ready(function () {
        //    $("#ackapa").click(function () {
        //        $(".trwpwhatsappballon").toggle(1000);
        //    });
        //    $("#kapatac").click(function () {
        //        $(".trwpwhatsappballon").toggle(1000);
        //    });
        //});
        window.jssor_1_slider_init = function () {

            var jssor_1_SlideoTransitions = [
                [{ b: -1, d: 1, ls: 0.5 }, { b: 0, d: 1000, y: 5, e: { y: 6 } }],
                [{ b: -1, d: 1, ls: 0.5 }, { b: 200, d: 1000, y: 25, e: { y: 6 } }],
                [{ b: -1, d: 1, ls: 0.5 }, { b: 400, d: 1000, y: 45, e: { y: 6 } }],
                [{ b: -1, d: 1, ls: 0.5 }, { b: 600, d: 1000, y: 65, e: { y: 6 } }],
                [{ b: -1, d: 1, ls: 0.5 }, { b: 800, d: 1000, y: 85, e: { y: 6 } }],
                [{ b: -1, d: 1, ls: 0.5 }, { b: 500, d: 1000, y: 195, e: { y: 6 } }],
                [{ b: 0, d: 2000, y: 30, e: { y: 3 } }],
                [{ b: -1, d: 1, rY: -15, tZ: 100 }, { b: 0, d: 1500, y: 30, o: 1, e: { y: 3 } }],
                [{ b: -1, d: 1, rY: -15, tZ: -100 }, { b: 0, d: 1500, y: 100, o: 0.8, e: { y: 3 } }],
                [{ b: 500, d: 1500, o: 1 }],
                [{ b: 0, d: 1000, y: 380, e: { y: 6 } }],
                [{ b: 300, d: 1000, x: 80, e: { x: 6 } }],
                [{ b: 300, d: 1000, x: 330, e: { x: 6 } }],
                [{ b: -1, d: 1, r: -110, sX: 5, sY: 5 }, { b: 0, d: 2000, o: 1, r: -20, sX: 1, sY: 1, e: { o: 6, r: 6, sX: 6, sY: 6 } }],
                [{ b: 0, d: 600, x: 150, o: 0.5, e: { x: 6 } }],
                [{ b: 0, d: 600, x: 1140, o: 0.6, e: { x: 6 } }],
                [{ b: -1, d: 1, sX: 5, sY: 5 }, { b: 600, d: 600, o: 1, sX: 1, sY: 1, e: { sX: 3, sY: 3 } }]
            ];

            var jssor_1_options = {
                $AutoPlay: 1,
                $LazyLoading: 1,
                $CaptionSliderOptions: {
                    $Class: $JssorCaptionSlideo$,
                    $Transitions: jssor_1_SlideoTransitions
                },
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$
                },
                $BulletNavigatorOptions: {
                    $Class: $JssorBulletNavigator$,
                    $SpacingX: 20,
                    $SpacingY: 20
                }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 1600;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
        jssor_1_slider_init();

    </script>





    <!--[if lt IE 10]><script type="text/javascript" src="../js/placeholder.js"></script><![endif]-->
    @RenderSection("Scripts", required: false)
</body>
</html>
