@{ 
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta charset="utf-8">
    @Html.Raw(ViewData["MetaTags"])
    <meta name="author" content="Petroteks">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="~/NewLayout/img/favicon.png" rel="icon">
    <link href="~/NewLayout/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/NewLayout/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/NewLayout/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/NewLayout/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/NewLayout/css/style.css" rel="stylesheet" />
    
    <!-- Favicons -->

</head>
<body itemscope="" itemtype="http://schema.org/WebPage">
  
    <header id="header">
        <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="" class="scrollto"><img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/logopetroteks-1.png" /></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="">Ana Sayfa</a></li>
                    <li><a href="">Hakkımızda</a></li>



                    <li class="drop-down">
                        <a href="">Ürünlerimiz</a> 
                        <ul>
                            @await Component.InvokeAsync("CategoryList", new { website = (Website)ViewBag.ThisWebsite })
                        </ul>
                    </li>
                    <li><a href="">İletişim</a></li>
                    <li class="drop-down">
                        <a href="#"><img src="http://www.petroteks.com/tr/wp-content/plugins/gtranslate/flags/16/tr.png">  TR</a>
                        <ul>
                            <li><a href="#"><img src="http://www.petroteks.com/tr/wp-content/plugins/gtranslate/flags/16/en.png"> ENG</a></li>


                        </ul>
                    </li>
                </ul>
            </nav>



            <!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    @RenderBody()

    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-4">

                        <div class="row">



                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>SİTE HARİTASI</h4>
                                    <ul>
                                        <li><a href="#">Anasayfa</a></li>
                                        <li><a href="#">HAKKIMIZDA</a></li>
                                        <li><a href="#">ÜRÜNLER</a></li>
                                        <li><a href="#">GİZLİLİK POLİTİKASI</a></li>
                                        <li><a href="#">İLETİŞİM</a></li>
                                    </ul>
                                </div>



                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4">

                        <div class="footer-links">
                            <h4>TOKAT DEPO :</h4>
                            <p>
                                Amasya – Erzincan Yolu Boğazbaşı Mahallesi
                                Bozkır Mevkii  No:177/1-1<br>
                                <strong>Niksar / TOKAT</strong>
                            </p>
                        </div>


                    </div>

                    <div class="col-lg-4">

                        <div class="footer-links">
                            <h4>ANKARA DEPO :</h4>
                            <p>
                                İvedik OSB 2268 Cadde No:9
                                Yenimahalle / ANKARA <br>
                                <strong>Telefon:</strong> +90 312 426 23 23<br>
                                <strong>Fax:</strong> +90 312 426 23 23<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>
                        </div>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Petroteks</strong>. All Rights Reserved
            </div>

        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="~/NewLayout/lib/jquery/jquery.min.js"></script>
    <script src="~/NewLayout/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/NewLayout/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/NewLayout/lib/easing/easing.min.js"></script>
    <script src="~/NewLayout/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/NewLayout/lib/wow/wow.min.js"></script>
    <script src="~/NewLayout/lib/waypoints/waypoints.min.js"></script>
    <script src="~/NewLayout/lib/counterup/counterup.min.js"></script>
    <script src="~/NewLayout/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/NewLayout/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/NewLayout/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/NewLayout/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->

    <script src="~/NewLayout/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    <!--[if lt IE 10]><script type="text/javascript" src="../js/placeholder.js"></script><![endif]-->
    @RenderSection("Scripts", required: false)
</body>
</html>
