@model MainPageViewModel
@{
    ViewData["Title"] = Model.MainPage.Title;
    ViewData["Description"] = Model.MainPage.Description;
    ViewData["MetaTags"] = Model.MainPage.MetaTags;
    ViewData["Keywords"] = Model.MainPage.Keywords;
}
 <style>
 @@media screen and (max-width: 1900px), (min-width: 900px) {
  .caption{
      transform: translateX(0px) translateY(-70px)!important;
  }
}
 .color-nav-blue{
     color:#413e66;
     font-weight: 600;
 }
  .color-blue{
     color:#413e66;
 }
  .img-calign{
      background-size: 100% auto!important; background-repeat: no-repeat!important;
  }
 </style>
@Html.Raw(Model.MainPage.Slider)

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    @Html.Raw(Model.MainPage.TopContent)





    @*<section id="team" class="section-bg">
            <div class="container">
                <div class="section-header">
                    <h3>Ürünlerimiz</h3>

                </div>

                <div class="row">




                    @{
                        foreach (var item in Model.Categories)
                        {

                            <a href="@Url.Action("CategoryDetail","Detail", new { categoryName=GetFriendlyTitle(item.Name) , page=1 , category=item.id})">
                                <figure class="snip1401">
                                    @if (item.PhotoPath == null)
                                    {
                                        <img src="~/images/Lifta.jpg" style="width:450px!important;height:250px!important;" />
                                    }
                                    else
                                    {
                                        <img src="../CategoryImages/@item.PhotoPath" style="width:450px!important;height:250px!important;" />
                                    }
                                    <figcaption>
                                        <h3>@item.Name</h3>

                                    </figcaption><i class="ion-ios-pricetags-outline"></i>

                                </figure>
                            </a>
                        }
                        foreach (var item in Model.Products)
                        {

                            <a href="@Url.Action("ProductDetail","Detail",new { produtname=GetFriendlyTitle(item.SupTitle) , id=item.id})">
                                <figure class="snip1401">
                                    @if (item.PhotoPath == null)
                                    {
                                        <img src="~/images/Lifta.jpg" style="width:450px!important;height:250px!important;" />
                                    }
                                    else
                                    {
                                        <img src="../ProductImages/@item.PhotoPath" style="width:450px!important;height:250px!important;" />
                                    }
                                    <figcaption>
                                        <h3>@item.SupTitle</h3>

                                    </figcaption><i class="ion-ios-pricetags-outline"></i>

                                </figure>

                            </a>
                        }
                    }

                </div>

            </div>
        </section>*@




    <section id="call-to-action" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Sizi Haberdar Edelim</h3>
                    <p class="cta-text"> Bildirim için mail adresinizi buraya bırakarak bizden haberdar olabilirsiniz veya iletişime geçebilirsiniz.</p>
                    <div class="input-group mb-3 col-md-7">
                        <input type="email" id="email" class="form-control" placeholder="Mail">
                        <div class="input-group-append">
                            <span class="text-white" id="spanc" onclick="BilgilendirmeMail()" id="basic-addon2">Abone Ol</span>
                        </div>
                    </div>


                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" title="iletisim" href="../Home/Iletisim">İLETİŞİME GEÇ</a>
                </div>
            </div>

        </div>
    </section>
</main>

@Html.Raw(Model.MainPage.BottomContent)



@*<section id="services" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>PETROBLOG</h3>
                <p>Sondaj ile ilgili gelişmeleri ve yenilikleri Petroblog'da bulabilirsiniz.</p>
            </header>

            <div class="row">


                @foreach (Blog item in Model.Blogs)
                {

                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"> <img src="~/BlogImages/@item.PhotoPath" class="img-fluid align-unset" /></div>
                            <h4 class="title"><a href="">@item.Title</a></h4>

                            <p class="description">@item.Description</p>
                            <a class="button pulse text-white" href="#">Detay</a>
                        </div>
                    </div>
                }

            </div>

        </div>
    </section>*@


@section Scripts{

    <script>

        function BilgilendirmeMail() {
            var mailadress = $("#email").val();
            if (mailadress != null && mailadress != "") {
                $.ajax({
                    type: "GET",
                    url: "/Home/BilgilendirmeMail?email=" + mailadress,
                    success: function (response) {
                        toastr.success(response);
                    },
                    failure: function (response) {
                        toastr.error('Sunucu ile bağlantı kurulamadı.');
                    },
                    error: function (response) {
                        toastr.error('Sunucu ile bağlantı kurulamadı.');
                    }
                });
            }
            else {
                toastr.error('Lütfen e-mail adresini doğru giriniz');
            }




        }
    </script>


}