
<style>
    .nested, .CategoryTreeView {
        list-style-type: none !important;
    }

    .CategoryTreeView {
        margin: 0;
        padding: 0;
    }

    .caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    .caret-down::before {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }
</style>

@model CategoryListViewModel
@{



    object LoadSubMenu(Category category, ICollection<Category> categories)
    {
        foreach (Category subCategory in categories)
        {
            ICollection<Category> localcategories = Model.GetCategoryies(subCategory.id);
            ICollection<Product> products = Model.AllProduct.Where(x => x.Categoryid == subCategory.id).ToList();
            if (localcategories.Count > 0)
            {
                <li>
                    <span class="caret">
                        <a href="/Detail/CategoryDetail?categoryName=@subCategory.Name.Replace(" ","-")&page=1&category=@subCategory.id">@Model.NameId(subCategory)</a>
                        [
                        <a href="/Admin/Pages/CategoryDelete/@subCategory.id" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                        |
                        <a href="/Admin/Pages/CategoryEdit/@subCategory.id" class="btn btn-success btn-rounded"><i class="fas fa-edit"></i> </a>
                        ]
                    </span>
                    <ul class="nested">
                        @LoadSubMenu(subCategory, localcategories)
                        @if (products.Count > 0)
                        {
                            @LoadProduct(subCategory, products)
                        }
                    </ul>
                </li>
            }
            else if (products.Count > 0)
            {
                <li>
                    <span class="caret">
                        <a href="/Detail/CategoryDetail?categoryName=@subCategory.Name.Replace(" ","-")&page=1&category=@subCategory.id">@Model.NameId(subCategory)</a>
                        [
                        <a href="/Admin/Pages/CategoryDelete/@subCategory.id" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                        |
                        <a href="/Admin/Pages/CategoryEdit/@subCategory.id" class="btn btn-success btn-rounded"><i class="fas fa-edit"></i> </a>
                        ]
                    </span>
                    <ul class="nested">
                        @LoadProduct(category, products)
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a href="/Detail/CategoryDetail?categoryName=@subCategory.Name.Replace(" ","-")&page=1&category=@subCategory.id">@Model.NameId(subCategory)</a>
                    [
                    <a href="/Admin/Pages/CategoryDelete/@subCategory.id" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                    |
                    <a href="/Admin/Pages/CategoryEdit/@subCategory.id" class="btn btn-success btn-rounded"><i class="fas fa-edit"></i> </a>
                    ]
                </li>
            }

        }
        return null;
    }



    object LoadProduct(Category category, ICollection<Product> localProducts)
    {
        @foreach (Product product in localProducts)
        {
            <li>
                <a href="/Detail/ProductDetail?produtname=@product.SupTitle.Replace(" ","-")&product=@product.id">@product.SupTitle</a>
                [
                <a href="/Admin/Pages/ProductDelete/@product.id" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                |
                <a href="/Admin/Pages/ProductEdit/@product.id" class="btn btn-success btn-rounded"><i class="fas fa-edit"></i> </a>
                ]
            </li>
        }

        return null;
    }



}




@{


    <ul class="CategoryTreeView">
        @foreach (Category MainCategory in Model.MainCategories)
        {
            ICollection<Product> products = Model.AllProduct.Where(x => x.Categoryid == MainCategory.id).ToList();

            if (MainCategory.Name == "ROOT")
            {
                @LoadProduct(MainCategory, products)
            }
            else
            {
                ICollection<Category> categories = Model.GetCategoryies(MainCategory.id);
                if (categories.Count > 0)
                {
                    <li>
                        <span class="caret">
                            <a asp-area="" asp-controller="Detail" asp-action="CategoryDetail" asp-route-page="1" asp-route-category="@MainCategory.id" asp-route-categoryName="@MainCategory.Name">@Model.NameId(MainCategory)</a>
                            [
                            <a href="/Admin/Pages/CategoryDelete/@MainCategory.id" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                            |
                            <a href="/Admin/Pages/CategoryEdit/@MainCategory.id" class="btn btn-success btn-rounded"><i class="fas fa-edit"></i> </a>
                            ]
                        </span>
                        <ul class="nested">
                            @LoadSubMenu(MainCategory, categories)
                            @if (products.Count > 0)
                            {
                                @LoadProduct(MainCategory, products)
                            }
                        </ul>

                    </li>
                }
                else if (products.Count > 0)
                {
                    <li>
                        <span class="caret">
                            <a asp-area="" asp-controller="Detail" asp-action="CategoryDetail" asp-route-page="1" asp-route-category="@MainCategory.id" asp-route-categoryName="@MainCategory.Name">@Model.NameId(MainCategory)</a>
                            [
                            <a href="/Admin/Pages/CategoryDelete/@MainCategory.id" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                            |
                            <a href="/Admin/Pages/CategoryEdit/@MainCategory.id" class="btn btn-success btn-rounded"><i class="fas fa-edit"></i> </a>
                            ]
                        </span>
                        <ul class="nested">
                            @LoadProduct(MainCategory, products)
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Detail" asp-action="CategoryDetail" asp-route-page="1" asp-route-category="@MainCategory.id" asp-route-categoryName="@MainCategory.Name">@Model.NameId(MainCategory)</a>
                        [
                        <a href="/Admin/Pages/CategoryDelete/@MainCategory.id" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                        |
                        <a href="/Admin/Pages/CategoryEdit/@MainCategory.id" class="btn btn-success btn-rounded"><i class="fas fa-edit"></i> </a>
                        ]
                    </li>
                }

            }

        }
    </ul>

}





<script>

    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>


